node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/

.env
server/.env

client/android/.gradle/
client/android/build/
client/android/app/build/
client/android/local.properties

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
